.manage {
    padding-bottom: 62px;
}

.manage__des {
    text-align: center;
}

.manage__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #242d52;
    margin-bottom: 13px;
}

.manage__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    color: #242d52;
    opacity: 0.5;
    margin-bottom: 54px;
}

.manage__sub_title {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #242d52;
}

.manage__active {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
    border-radius: 39px;
    background-color: #f3603c;
    padding: 6px 23px 10px 25px;
    display: inline-block;
}

.manage__info {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 39px 0 0 39px;
    background-color: #fff0ec;
    margin-bottom: 8px;
}

.manage__inner_text {
    font-weight: 400;
    font-size: 13px;
    line-height: 200%;
    color: #242d52;
    opacity: 0.5;
}

.manage__item:not(:last-child) {
    margin-bottom: 47px;
}

@media screen and (min-width: 768px) {
    .manage {
        padding-bottom: 120px;
    }

    .manage__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }

    .manage__des {
        text-align: start;
    }
}

@media screen and (min-width: 992px) {
    .manage {
        padding-bottom: 165px;
    }

    .manage__title {
        font-weight: 700;
        font-size: 40px;
        line-height: 110%;
        margin-bottom: 24px;
    }

    .manage__text {
        font-size: 16px;
        line-height: 162%;
        margin-bottom: 0;
        max-width: 350px;
    }

    .manage__wrapper {
        gap: 0;
    }

    .manage__list {
        max-width: 540px;
    }

    .manage__item:not(:last-child) {
        margin-bottom: 40px;
    }

    .manage__info {
        gap: 28px;
        border-radius: 39px 0 0 39px;
        background-color: #fff;
        margin-bottom: 8px;
    }

    .manage__inner_text {
        font-size: 16px;
        line-height: 162%;
        margin-left: 95px;
    }
    
}